<mat-card>
  <mat-card-header>
    <mat-card-title>Distances explained</mat-card-title>
  </mat-card-header>
  <br />
  <mat-card-content>
    <div>
      <mat-card-subtitle>Light seconds</mat-card-subtitle>
      The light-second (ls) is a unit of length useful in astronomy.
      <br />
      It is defined as the distance that light travels in free space in one
      second, and is equal to exactly <em>299 792 458 metres</em>.
    </div>
    <br />
    <div>
      <mat-card-subtitle>Light year</mat-card-subtitle>
      The light-year (ly) is the distance light travels in a year, which is
      equivalent to about 9.46 trillion kilometers.
      <br />
      You can calculate that distance by multiplying the number of seconds in a
      year by the distance of a light second.
      <br /><br />
      Example :
      <br />
      365 days x 24 hours per day x 60 minutes per hour x 60 seconds per minute
      x 299 792 458 metres per second = 9 454 254 955 488 000 metres.
      <br />
      Or about 9.46 trillion kilometers.
    </div>
    <br />
    <div>
      <mat-card-subtitle>Solar System</mat-card-subtitle>
      The Sun's light takes, on average, 500 seconds to reach the Earth, or 8
      minutes and 20 seconds.
      <br />
      It takes 2597 seconds for light to travel from the Sun to Jupiter.
      <br />
      Pluto is, on average, 5.3 light-hours away from the Sun. That's over 19
      000 seconds !
    </div>
    <br />
    <div>
      <mat-card-subtitle>Outisde the Solar System</mat-card-subtitle>
      The closest star to the Solar System is Alpha Centauri. It is only 4.37
      light-years away, or about 137 717 712 light-seconds away.
      <br />
      Hercule's Cluster (M13), a star nursery of a few hundreds of thousands of
      stars, is 25 000 light-years away.
      <br />
      The closest galaxy to the Solar System is Andromeda. It is only 2.54
      million light-years away, or about 80.1 trillion light-seconds away.
      <br />
      Space is BIG.
    </div>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>-->
</mat-card>
